<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE module PUBLIC "-//Checkstyle//DTD Checkstyle Configuration 1.3//EN"
        "https://checkstyle.org/dtds/configuration_1_3.dtd">

<module name="Checker">
    <property name="charset" value="UTF-8"/>

    <property name="severity" value="warning"/>

    <property name="fileExtensions" value="java"/>

    <module name="SuppressWithPlainTextCommentFilter">
        <property name="offCommentFormat" value="(?i)// CHECKSTYLE[: ]OFF"/>
        <property name="onCommentFormat" value="(?i)// CHECKSTYLE[: ]ON"/>
    </module>

    <module name="TreeWalker">
        <module name="SuppressWithNearbyCommentFilter">
            <property name="commentFormat" value="(?i)// CHECKSTYLE[: ]IGNORE|SUPPRESS"/>
        </module>

        <!-- Annotations -->
        <module name="AnnotationLocation">
            <property name="allowSamelineSingleParameterlessAnnotation" value="false"/>
        </module>

        <module name="AnnotationUseStyle"/>

        <!-- Block Checks -->
        <module name="AvoidNestedBlocks"/>

        <module name="EmptyBlock"/>

        <module name="EmptyCatchBlock">
            <property name="exceptionVariableName" value="ignore|ignored"/>
        </module>

        <module name="LeftCurly">
            <property name="ignoreEnums" value="false"/>
        </module>

        <module name="NeedBraces"/>

        <module name="RightCurly">
        </module>

        <!-- Class Design -->
        <module name="InnerTypeLast"/>

        <module name="InterfaceIsType"/>

        <module name="OneTopLevelClass"/>

        <module name="ThrowsCount">
            <property name="max" value="3"/>
        </module>

        <!-- Coding -->
        <!-- https://blog.jooq.org/dont-be-clever-the-double-curly-braces-anti-pattern/ -->
        <module name="AvoidDoubleBraceInitialization"/>

        <module name="CovariantEquals"/>

        <module name="DeclarationOrder">
            <property name="ignoreModifiers" value="true"/>
        </module>

        <module name="DefaultComesLast"/>

        <module name="EmptyStatement"/>

        <module name="EqualsAvoidNull"/>

        <module name="EqualsHashCode"/>

        <module name="IllegalTokenText">
            <property name="tokens" value="NUM_INT, NUM_LONG"/>
            <property name="format" value="^0[^lx]"/>
            <property name="ignoreCase" value="true"/>
        </module>

        <module name="NestedTryDepth">
            <property name="max" value="3"/>
        </module>

        <module name="NoArrayTrailingComma"/>

        <module name="OneStatementPerLine"/>

        <module name="OverloadMethodsDeclarationOrder"/>

        <module name="RequireThis">
            <property name="validateOnlyOverlapping" value="false"/>
        </module>

        <module name="SimplifyBooleanExpression"/>

        <module name="SimplifyBooleanReturn"/>

        <module name="StringLiteralEquality"/>

        <module name="UnnecessarySemicolonAfterTypeMemberDeclaration"/>

        <!-- JavaDoc -->
        <module name="InvalidJavadocPosition"/>

        <module name="JavadocMissingLeadingAsterisk"/>

        <module name="JavadocMissingWhitespaceAfterAsterisk"/>

        <!-- Misc -->
        <module name="ArrayTypeStyle"/>

        <module name="AvoidEscapedUnicodeCharacters">
            <property name="allowEscapesForControlCharacters" value="true"/>
            <property name="allowByTailComment" value="true"/>
            <property name="allowNonPrintableEscapes" value="true"/>
        </module>

        <module name="Indentation">
            <property name="basicOffset" value="8"/>
            <property name="braceAdjustment" value="0"/>
            <property name="caseIndent" value="8"/>
            <property name="throwsIndent" value="8"/>
            <property name="arrayInitIndent" value="8"/>
            <property name="lineWrappingIndentation" value="8"/>
            <property name="forceStrictCondition" value="false"/>
        </module>

        <module name="OuterTypeFilename"/>

        <module name="UpperEll"/>

        <!-- Naming -->
        <module name="AbbreviationAsWordInName">
            <property name="ignoreStatic" value="false"/>
        </module>

        <module name="ClassTypeParameterName"/>

        <module name="ConstantName"/>

        <module name="IllegalIdentifierName"/>

        <module name="InterfaceTypeParameterName"/>

        <module name="LambdaParameterName"/>

        <module name="LocalVariableName"/>

        <module name="MemberName">
            <property name="format" value="^[_a-zA-Z0-9]*$"/>
        </module>

        <module name="MethodName"/>

        <module name="MethodTypeParameterName"/>

        <module name="ParameterName"/>

        <module name="PatternVariableName"/>

        <module name="RecordComponentName">
            <property name="format" value="^[_a-zA-Z0-9]*$"/>
        </module>

        <module name="RecordTypeParameterName"/>

        <module name="StaticVariableName">
            <property name="format" value="^[_a-zA-Z0-9]*$"/>
        </module>

        <module name="TypeName"/>

        <!-- Whitespace -->

        <module name="EmptyLineSeparator">
            <property name="allowMultipleEmptyLines" value="false"/>
            <property name="allowNoEmptyLineBetweenFields" value="true"/>
        </module>

        <module name="GenericWhitespace"/>

        <module name="MethodParamPad"/>

        <module name="NoLineWrap">
            <property name="tokens"
                      value="IMPORT, STATIC_IMPORT, PACKAGE_DEF, CTOR_DEF, ENUM_DEF, RECORD_DEF, COMPACT_CTOR_DEF"/>
        </module>

        <module name="NoWhitespaceAfter">
            <property name="allowLineBreaks" value="false"/>
        </module>

        <module name="NoWhitespaceBefore"/>

        <module name="NoWhitespaceBefore">
            <property name="tokens" value="DOT"/>
            <property name="allowLineBreaks" value="true"/>
        </module>

        <module name="NoWhitespaceBeforeCaseDefaultColon"/>

        <module name="OperatorWrap">
            <property name="tokens"
                      value="ASSIGN, DIV_ASSIGN, PLUS_ASSIGN, MINUS_ASSIGN, STAR_ASSIGN, MOD_ASSIGN, SR_ASSIGN, BSR_ASSIGN, SL_ASSIGN, BXOR_ASSIGN, BOR_ASSIGN, BAND_ASSIGN"/>
            <property name="option" value="eol"/>
        </module>

        <module name="ParenPad"/>

        <module name="SeparatorWrap">
            <property name="tokens" value="COMMA"/>
        </module>

        <module name="SingleSpaceSeparator">
            <property name="validateComments" value="false"/>
        </module>

        <module name="TypecastParenPad"/>

        <module name="WhitespaceAfter"/>

        <module name="WhitespaceAround">
            <property name="ignoreEnhancedForColon" value="false"/>
        </module>
    </module>
</module>